body {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

header {
  margin: 0px;
  margin: 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
#background {
  margin: 0px;
  margin: 0px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  color: white;
  font-family: "Montserrat", sans-serif;
}
#backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
#me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
#myInfo {
  padding: 1%;
  line-height: 40px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
a {
  color: #adfffc;
}

.navigation {
  margin-left: 3vw;
}

h1,
#me {
  display: flex;
  justify-content: center;
  color: #aefaff;
  font-size: 80px;
  font-family: "Montserrat", sans-serif;
}
h4{
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
  max-width: 650px;
  height: 30vh;
  border: 2px solid #32eeff;
}

img:hover {
  cursor: pointer;
}

/* projects section */
.carousel {
  margin:10px auto;
  width:90%;
  border:5 px solid black;
  display: flex;
  overflow-x:hidden;

}
.carousel::-webkit-scrollbar {
  display: none;
}
.group{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:2em;
  animation:spin 20s linear infinite;
  padding-right:1em;
}
.card{
  flex: 0 0 12em;
  height:12em;
  padding:1em;
  background:#002b3d;
  font-size:3em;
  border-radius: .2em;
  text-align:center;
  align-content: center;
}

@keyframes spin{
  from {translate:0;} to {translate: -100%;}

}
/* Contact section */

#contactHeader {
  color: #002b3d;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;

  font-size: 80px;
  
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

section,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
  line-height: 40px;
  color: rgb(0, 0, 0);

}
.contact {
  padding: 3px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input,
textarea {
  width: 600px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #002b3d;
}
button {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: #002b3d;
  font-size: 20px;
}
footer {
  text-align: center;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 10px;
}
#design {
  padding-top: 100px;
  margin-top: 20px;
  margin-bottom: 100px;
  padding-bottom: 100px;
}
label {
  color: #002b3d;
  margin: 10px;
}
.ProjDemo {
  width: 45%;
}

#name_error,
#mail_error,
#message_error {
  color: rgba(255, 0, 0, 0.5);
  font-size: 14px;
  margin: 0;
  padding: 0;
}



/* #for mobile */


@media (max-width: 768px) {
  /* Header */
  header {
    height: auto;
    padding: 10px;
    margin-bottom: 50px;
  }

  header #me img {
    width: 150px;
    height: auto;
  }

  #background {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  /* Images */
  img {
    height: auto;
  }

  /* Navigation */
  nav {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .navigation {
    margin-left: 0;
  }

  /* Text */
  #me h1 {
    font-size: 40px;
    text-align: center;
  }

  #myInfo p {
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    padding: 0 10px;
  }

  /* Projects */
  .carousel {
    width: 100%;
    padding: 10px 0;
  }

  .group {
    gap: 1em;
  }

  .card {
    flex: 0 0 10em;
    height: 15em;
    font-size: 2em;
    padding: 0.5em;
  }

  /* Contact form */
  input,
  textarea {
    width: 90vw;
    height: 45px;
  }

  button {
    width: 80%;
    height: 45px;
    font-size: 18px;
  }
}
